<div id="subjects_info">
  <div class="top">
  </div>
  <div class="center">
    <center>
      <table class="subjects_info">
        <tr><th>Subject<br />(Teacher)</th><th>Hashtag</th></tr>
	  <% @subjects_info.each do |subject_info| %>
            <tr><td><%= subject_info.subject.name %><br />(<%= subject_info.teacher.name %>)</td>
	    <td>
	    <% if subject_info.hashtags.count > 0 %>
	      <% subject_info.hashtags.each do |hashtag| %>
	        <%= link_to hashtag.string, "https://twitter.com/intent/tweet?text=%23"+hashtag.string.slice(1..hashtag.string.size-1) %><br /
	        <%= hashtag.string %>
                <%= link_to 'edit', :subject_info_id => subject_info.id, :controller => 'home', :action => 'edit' %>
	      <% end %>
	    <% else %>
              <%= link_to 'add', :subject_info_id => subject_info.id, :controller => 'home', :action => 'add' %>
	    <% end %>
	    </td></tr>
	  <% end %>
      </table>
    </center>
  </div>
  <div class="bottom">
  </div>
</div>
