<!DOCTYPE html>
<html>
<meta name="keywords" content="sfc,twitter,hashtag,sfc-hash,hash">
<head>
  <title>SFC-HASHTAGS</title>
  <%= stylesheet_link_tag    "login" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <%= yield :header %>
    </div>
    <div id="content">
      <div id="form">
        <%= yield :form %>
      </div>
    </div>
    <div id="footer">
      <%= yield :footer %>
    </div>
  </div>
</body>
</html>
